body
{
    background: rgb(192, 192, 192);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     box-sizing: border-box;
}
#data_intering
{
  width: 300px;
  margin: 50px auto 40px auto ;
  background: rgb(83, 83, 83);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7 , auto);
  border-radius: 20px ;
}
#name_Name 
{
    grid-row: 1;
    margin-left: 20px ;
    width: 40px ;
    padding-top: 10px ;
    padding-bottom: 10px ;
    color: azure;
}
#name
{
    grid-row: 2 ;
    width: 250px ;
    margin-left: 15px ;
    border: none ;
    height: 25px ;
    margin-right: 20px ;
    border-radius: 10px ;
}
#name:focus
{
    outline: none;
    box-shadow: 0 0 5px #77d27a ;
    border: 1px solid #77d27a;
}
#name_Gmail
{
    grid-row: 3 ;
    margin-left: 20px ;
    width: 40px ;
    padding-top: 10px ;
    padding-bottom: 10px ;
    color: azure;
}
#Gmail
{
    grid-row: 4 ;
    margin-left: 15px ;
    width: 250px ;
    margin-left: 15px ;
    border: none ;
    height: 25px ;
    margin-right: 20px ;
    border-radius: 10px ;
}
#Gmail:focus
{
    outline: none;
    border: 1px solid #77d27a;
    box-shadow: 0 0 5px #77d27a;
}
#name_Message
{
    grid-row: 5 ;
    margin-left: 20px ;
    width: 40px ;
    padding-top: 10px ;
    padding-bottom: 10px ;
    color: azure;
}
#Message
{
    grid-row: 6 ;
    width: 250px ;
    margin-left: 15px ;
    border: none ;
    height: 30px ;
    margin-right: 20px ;
    outline: none ;
    resize: vertical;
    border-radius: 10px ;
}
#Message:focus 
{
  outline: none;
  border: 1px solid #77d27a;
  box-shadow: 0 0 5px #77d27a;
}


#buttons
{
  grid-row: 7 ;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: 1fr;

  margin-top: 30px ;
}
#buttons #send
{
    grid-column: 1 ;

    padding-top: 10px ;
    padding-bottom: 10px  ;
    margin-top: 10px ;
    border: none ;
    margin-left: 5px ; 
    margin-right: 5px ;
    border-radius: 5px ;
    color: black;
    background: white;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}
#buttons #send:active
{
    background: rgb(0, 0, 0) ;
    color: white ;
}
#buttons #show
{
    grid-column: 2 ;

    padding-top: 10px ;
    padding-bottom: 10px  ;
    margin-top: 10px ;
    border: none ;
    margin-left: 5px ; 
    margin-right: 5px ;
    border-radius: 5px ;
    background: white;
    color: black;
    transition: background 0.3s ease , color 0.3s ease ;
    cursor: pointer;
}
#buttons #show:active
{
    color: white;
    background: black;
}
#parent_h1
{
    text-align: center;
}
#title_of_table
{
     margin: 20px auto ;
     color: red ;
     display: inline-block;
}
table
{
    background: rgb(255, 255, 255);
    border-collapse: collapse ;
    border: none ;
    border-radius: 10px ;
    margin: 20px auto ;
}
#titles
{
    border: none ;
    margin: 0 ;
}
#tite_col_1 , #tite_col_2 , #tite_col_3 , #tite_col_4
{
    border: none ;

}
#col_1, #col_2, #col_3, #col_4
{
 background: rgb(99, 100, 102);
 padding: 12px ;
 color: white;
 border: none ;
 border-collapse: collapse ;
}
#message_col
{
    color: rgb(0, 97, 0);
    padding: 10px  ;
    border: none ;
}
